* {
  font-family: "GangwonEdu_OTFBoldA";
}

main {
  background-color: hwb(0 18% 20%);
}

h2 {
  background-color: #b7b7ea;
}

li {
  font-size: 20px;
  font-style: italic;
  background-color: #ffffff;

}

.li1 {
}

.li2 {
  background-color: rgb(109, 131, 111);
}

.li3 {
  background-color: rgb(139, 224, 145);
}

button{
  font-size: 20px;
   
}