@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 
  /* "Pretendard-Regular", */ "GmarketSansMedium";
}

.overlaybox {
  position: relative;
  width: 360px;
  height: 350px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat;
  padding: 15px 10px;
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .boxtitle {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png")
    no-repeat right 120px center;
  margin-bottom: 8px;
}
.overlaybox .first {
  position: relative;
  width: 247px;
  height: 136px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumb.png")
    no-repeat;
  margin-bottom: 8px;
}
.first .text {
  color: #fff;
  font-weight: bold;
}
.first .triangle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png")
    no-repeat;
  padding: 6px;
  font-size: 18px;
}
.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 15px;
  font-size: 14px;
}
.overlaybox ul {
  width: 247px;
}
.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 5px 10px;
  color: #aaabaf;
  line-height: 1;
}
.overlaybox li span {
  display: inline-block;
}
.overlaybox li .number {
  font-size: 16px;
  font-weight: bold;
}
.overlaybox li .title {
  font-size: 13px;
}
.overlaybox ul .arrow {
  position: absolute;
  margin-top: 8px;
  right: 25px;
  width: 5px;
  height: 3px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/updown.png")
    no-repeat;
}
.overlaybox li .up {
  background-position: 0 -40px;
}
.overlaybox li .down {
  background-position: 0 -60px;
}
.overlaybox li .count {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  font-size: 10px;
}
.overlaybox li:hover {
  color: #fff;
  background: #d24545;
}
.overlaybox li:hover .up {
  background-position: 0 0px;
}
.overlaybox li:hover .down {
  background-position: 0 -20px;
}

.tab1 {
  font-size: x-large;
  text-align: center;
}

/* 출력시 애니메이션효과 */
.start {
  /* scale: 0.7; */
  opacity: 0;
}
.end {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}
.start1 {
  /* scale: 0.7; */
  opacity: 0;
}
.end1 {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}

/* 1page 모든DB조회 메뉴바 */
.nav1 {
  font-size: x-large;
}

.page1h1 {
  background: #edeeff;
}

.me-main {
  font-size: 30px;
}

.me-auto {
  font-size: 20px;
}

.col1 {
  padding: auto;
  margin-right: 10%;
}

.container {
  flex-direction: column;
  justify-content: center;
}

table {
  border-spacing: 0;
  border: 1px solid #d1cccc;
}

tr:last-child td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #d1cccc;
  border-right: 1px solid #d1cccc;
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:nth-child(odd) {
  background: #f3f3f3;
  color: #000000;
}

tr:nth-child(even) {
  background: #ffffff;
  color: #000000;
}

th.desc {
  border-bottom: 5px solid rgb(136, 136, 255);
}

th.asc {
  border-top: 5px solid orange;
}

.Navber {
  margin-bottom: 15px;
}
