@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Hi+Melody&family=Nanum+Brush+Script&family=Noto+Serif+KR&family=Single+Day&display=swap"); */

* {
  font-family: "GangwonEdu_OTFBoldA";
}

.tab1 {
  font-size: x-large;
  text-align: center;
}

/* 출력시 애니메이션효과 */
.start {
  /* scale: 0.7; */
  opacity: 0;
}
.end {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}
.start1 {
  /* scale: 0.7; */
  opacity: 0;
}
.end1 {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}

/* 1page 모든DB조회 메뉴바 */
.nav1 {
  font-size: x-large;
}

.page1h1 {
  background: #edeeff;
}

.me-main {
  font-size: 30px;
}

.me-auto {
  font-size: 20px;
}

.main-bg {
  height: 400px;
  background-image: url("/public/img/business00.jpg");
  background-size: cover;
  background-position: center;
}

/* .col1 {
  background-image: url("/public/img/menu1.jpg");
  background-size: contain;
  background-position: ;
} */
